*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* position: fixed; */
    width: 100%;
    padding: 0 30px;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a li::before{
    content: '';
    width: 0%;
    height: 2px;
    background: #D900FC;
    display: block;
    transition: 0.5s;
}
nav a li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #D900FC;
    display: block;
    transition: 0.5s;
}
nav a li:hover::before{
    width: 100%;
}
nav a li:hover::after{
    width: 100%;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 17px;
    padding: 10px 40px;
}
nav ul li{
    list-style-type: none;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    height: 10vh;
}
.contract{
    background: url(../Images/Rectangle\ 45\ \(2\).png);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.contract h1{
    font-size: 40px;
}
.contract-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.con{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contract-2 h2{
    color: #D900FC;
}
.contract-2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.center{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.down{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.color{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.color h2{
    color: #D900FC;
}
.seven img{
    height: 40vh;
}
.snap{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.snap img{
    height: 25vh;
    width: 100%;
    /* width: 60%; */
}
.snap-1{
    border: 0.001px solid grey;
    /* text-align: center/; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* padding: 0 10px; */
}
.snap-1 button{
    background-color: #D900FC;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 10px;
}
.btn{
    padding: 10px  10px;
}
.pics{
    display: flex;
    justify-content: space-between;
}
.test{
    background-color: #F9F9F9;
    padding: 50px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
    width: 100%;
}
.testimony-1{
    display: flex;
    gap: 40px;
    width: 100%;
    /* padding: 0 30px; */
}
.mony img{
    position: relative;
    top: 50px;
    left: 20px;
}
.testimony{
    /* padding: 100px 150px; */
    width: 100%;
}
.you{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.linear-0{
    display: flex;
    align-items: center;
    justify-content: center;
}
.on{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.linear{
    background-image: linear-gradient(to right, purple, rgb(214, 170, 214));
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    text-align: center;
    color: white;
}
.ton button{
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    /* color: #D900FC; */
    background-color: white;
}
.ton a{
    text-decoration: none;
    color: #D900FC;
}
footer{
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0;
}
.mamtos{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list li{
    list-style: none;
}
.list ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list ul a{
    text-decoration: none;
    color: white;
}
.list ul a:hover{
    text-decoration: none;
    color:#D900FC;
    cursor: pointer;
}
.list-1{
    display: flex;
    gap: 50px;
}
.social{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 50px;
    justify-content: space-evenly;
}

.icon{
    display: flex;
    gap: 30px;
}
.mobile-nav{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 63px;

}
.mobile-nav ul li{
    list-style: none;
    font-size: larger;
    color: #D900FC;
}
.mobile-nav ul a{
    text-decoration: none;

} 
.toggle button{
    display: none;
    padding: 5px 20px;
    background: white;
}


@media screen and (max-width:950px) {
    nav ul{
        display: none;
    }
    .contract-1{
        flex-direction: column-reverse;
    }
    .snap{
        flex-direction: column;
    }
    .pics{
        flex-direction: column;
    }
    .testimony-1{
        flex-direction: column;
    }
    .mamtos{
        flex-direction: column;
    }
    .seven{
        width: 100%;
    }
    .mobile-nav{
        display: flex;
        flex-direction: column;
        height: 0;
        gap: 30px;
        width: 100%;
        transition: all 1s ease;
        align-items: center;
    }
    .mobile-nav ul a{
        color: #D900FC;
        text-decoration: none;
    }
    .display{
        display: flex;
        height: 40vh;
        background-color: gray;
        position: absolute;
        top:65px;
        /* border-radius: 20px; */
        /* left: 40px; */
        padding: 20px 0;
        width: 100%;
    }
    .mobile-nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        overflow: hidden;
    }
    .toggle button{
        display: block;
    }
}
